* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 0;
  overflow-x: hidden; }

.text-container {
  padding: 0 15%;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.pink-triangle {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  background-color: #f4f4f4; }
  .pink-triangle::before {
    content: '';
    display: block;
    width: 100%;
    height: 2.2em;
    background-color: #ed145b;
    position: absolute;
    top: -25%;
    transform: skewY(-1deg); }

header {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  header .navbar-brand {
    float: none; }
  header .navbar-default {
    background-color: transparent;
    border: none;
    padding-top: 15px; }
    header .navbar-default .navbar-collapse {
      border-color: #ed145b; }
      header .navbar-default .navbar-collapse .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        color: #ed145b; }
    header .navbar-default .navbar-nav li a {
      color: #ffffff;
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0.4px;
      transition: 1s; }
      header .navbar-default .navbar-nav li a:hover {
        color: #ed145b; }
  header .header-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    text-align: center; }
    header .header-text h1 {
      font-size: 46px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 1.15px; }
      header .header-text h1 span {
        font-weight: 900;
        letter-spacing: 1.15px;
        margin-right: 10px; }
    header .header-text hr {
      width: 20%;
      height: 2px;
      border-top: 2px solid #ed145b;
      margin: 25px 0; }
    header .header-text p {
      font-size: 22px;
      font-weight: 300;
      line-height: 38px;
      letter-spacing: 0.55px; }
    header .header-text button {
      border-radius: 25px;
      background-color: #ed145b;
      border: 1px solid transparent;
      font-size: 15px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
      letter-spacing: 0.38px;
      padding: 5px 50px;
      transition: 0.8s ease-in-out;
      margin-top: 10px; }
      header .header-text button:focus {
        outline: none; }
      header .header-text button:hover {
        background-color: transparent;
        border: 1px solid #ed145b;
        color: #ed145b; }

#power {
  background-color: #f4f4f4;
  position: relative; }
  #power .pink-triangle {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    background-color: #f4f4f4; }
    #power .pink-triangle::before {
      content: '';
      display: block;
      width: 100%;
      height: 2.2em;
      background-color: #ed145b;
      position: absolute;
      top: -25%;
      transform: skewY(-1deg); }
  #power h2 {
    color: #5a5a5a;
    font-style: italic;
    font-size: 38px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.95px; }
  #power hr {
    width: 20%;
    height: 2px;
    border-top: 2px solid #ed145b;
    margin: 25px 0;
    width: 30%; }
  #power p {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px;
    padding-bottom: 20px; }
  #power .youtube {
    padding-bottom: 50px; }
    #power .youtube a {
      color: #ed145b;
      font-weight: 400;
      line-height: 30px;
      font-size: 15px;
      display: inline-block;
      letter-spacing: 0.38px; }
    #power .youtube .play {
      margin-left: 20px; }
  #power .laptop-parent {
    height: 0;
    width: 50%;
    position: absolute;
    top: 50px;
    right: 0; }
    #power .laptop-parent .laptop {
      position: absolute;
      right: -20%;
      top: 0;
      width: 120%; }

#services .container {
  margin-top: 100px; }
#services h2 {
  color: #5a5a5a;
  font-style: italic;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.95px; }
#services hr {
  width: 20%;
  height: 2px;
  border-top: 2px solid #ed145b;
  margin: 25px 0;
  width: 30%; }
#services p {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.38px; }
#services .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 5% 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #services .row .col-lg-3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    #services .row .col-lg-3 .circle {
      border: 1px solid #ccc;
      width: 150px;
      height: 150px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      border-radius: 50%;
      transition: 0.5s ease-in-out; }
      #services .row .col-lg-3 .circle:hover {
        border: 2px solid #ed145b; }
      #services .row .col-lg-3 .circle:hover img {
        transform: scale(1.1); }
      #services .row .col-lg-3 .circle img {
        transition: 0.5s ease-in-out; }
    #services .row .col-lg-3 h4 {
      color: #ed145b;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.38px; }

#slideshow .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial; }
  #slideshow .carousel-caption p {
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.63px; }
  #slideshow .carousel-caption i {
    color: #ed145b;
    font-size: 50px; }
  #slideshow .carousel-caption .fa-quote-left {
    padding-bottom: 50px; }
  #slideshow .carousel-caption .fa-quote-right {
    padding-top: 50px; }

#prices {
  background-color: #f4f4f4; }
  #prices .container {
    padding-top: 50px; }
    #prices .container .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      padding-top: 5%; }
    #prices .container h2 {
      color: #5a5a5a;
      font-style: italic;
      font-size: 38px;
      font-weight: 400;
      line-height: 52px;
      letter-spacing: 0.95px; }
    #prices .container hr {
      width: 20%;
      height: 2px;
      border-top: 2px solid #ed145b;
      margin: 25px 0;
      width: 30%; }
    #prices .container p {
      color: #5a5a5a;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.38px; }
    #prices .container .col-lg-3 {
      padding-top: 50px;
      padding-bottom: 50px; }
      #prices .container .col-lg-3:hover .top {
        background-color: #ed145b; }
    #prices .container .top {
      background-color: #5a5a5a;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      position: relative; }
      #prices .container .top p {
        padding-top: 10%;
        line-height: 120%;
        margin-bottom: 15%;
        color: #f4f4f4;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.38px; }
        #prices .container .top p span {
          color: #f4f4f4;
          font-size: 50px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 1.25px; }
      #prices .container .top button {
        border-radius: 25px;
        background-color: #ed145b;
        border: 1px solid transparent;
        font-size: 15px;
        font-weight: 700;
        line-height: 38px;
        text-transform: uppercase;
        letter-spacing: 0.38px;
        padding: 5px 50px;
        transition: 0.8s ease-in-out;
        background-color: #f4f4f4;
        color: #5a5a5a;
        position: absolute;
        bottom: -20%; }
        #prices .container .top button:focus {
          outline: none; }
    #prices .container .bottom {
      background-color: #fff;
      color: #5a5a5a;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      transition: 0.4s; }
      #prices .container .bottom ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 40px 0; }
        #prices .container .bottom ul li {
          padding: 10px 0; }
      #prices .container .bottom button {
        border-radius: 25px;
        background-color: #ed145b;
        border: 1px solid transparent;
        font-size: 15px;
        font-weight: 700;
        line-height: 38px;
        text-transform: uppercase;
        letter-spacing: 0.38px;
        padding: 5px 50px;
        transition: 0.8s ease-in-out;
        color: #fff;
        margin-bottom: 30px; }
        #prices .container .bottom button:focus {
          outline: none; }

#features .container {
  margin-top: 100px;
  padding-bottom: 50px; }
  #features .container .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #features .container .row h4 {
      color: #ed145b;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.38px; }
    #features .container .row p {
      color: #5a5a5a;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.38px;
      padding-right: 20px; }
    #features .container .row .icons {
      padding-top: 15px; }

#contact {
  background-color: #ed145b; }
  #contact h2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 30px 0;
    letter-spacing: 0.95px;
    font-size: 38px;
    font-weight: 300;
    line-height: 52px;
    text-transform: uppercase; }
    #contact h2 span {
      font-weight: 700;
      letter-spacing: 0.95px; }
    #contact h2 button {
      border-radius: 25px;
      background-color: #ed145b;
      border: 1px solid transparent;
      font-size: 15px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
      letter-spacing: 0.38px;
      padding: 5px 50px;
      transition: 0.8s ease-in-out;
      background-color: #fff;
      color: #ed145b;
      margin-left: 20px; }
      #contact h2 button:focus {
        outline: none; }
      #contact h2 button:hover {
        border: 1px solid #fff;
        background-color: #ed145b;
        color: #fff; }

#gallery .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 5%; }
#gallery .text-container h2 {
  color: #5a5a5a;
  font-style: italic;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.95px; }
#gallery .text-container hr {
  width: 20%;
  height: 2px;
  border-top: 2px solid #ed145b;
  margin: 25px 0;
  width: 30%; }
#gallery .text-container p {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.38px;
  padding-bottom: 20px; }
#gallery .col-lg-4 {
  background-color: #f4f4f4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 360px;
  margin: 1%; }
  #gallery .col-lg-4 .gallery {
    background-size: cover;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 360px;
    overflow: hidden;
    position: relative; }
    #gallery .col-lg-4 .gallery:hover .gallery-layered {
      margin-top: 0;
      background-color: rgba(237, 20, 91, 0.7); }
    #gallery .col-lg-4 .gallery:hover i {
      color: #FFF;
      cursor: pointer;
      z-index: 999; }
    #gallery .col-lg-4 .gallery .gallery-layered {
      background-color: #ed145b;
      width: 300%;
      height: 120%;
      transform: -webkit-rotate(2deg);
      transform: -ms-rotate(2deg);
      transform: rotate(2deg);
      left: -30px;
      top: 0;
      margin-top: 250px;
      transition: .4s ease-in-out;
      position: absolute; }
    #gallery .col-lg-4 .gallery i {
      color: rgba(255, 255, 255, 0);
      font-size: 40px;
      transition: .4s ease-in;
      transition-delay: .4s; }
  #gallery .col-lg-4 h4 {
    color: #ed145b;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    color: #5a5a5a;
    text-align: left; }
  #gallery .col-lg-4 p {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px;
    text-align: left; }
  #gallery .col-lg-4 .gallery-1 {
    background-image: url("../images/foto-1.png"); }
  #gallery .col-lg-4 .gallery-2 {
    background-image: url("../images/foto-2.png"); }
  #gallery .col-lg-4 .gallery-3 {
    background-image: url("../images/foto-3.png"); }
  #gallery .col-lg-4 .gallery-4 {
    background-image: url("../images/foto-4.png"); }
  #gallery .col-lg-4 .gallery-5 {
    background-image: url("../images/foto-5.png"); }
  #gallery .col-lg-4 .gallery-6 {
    background-image: url("../images/foto-6.png"); }
#gallery .show {
  color: #ed145b;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  text-align: center;
  padding: 50px 0; }
  #gallery .show img {
    padding-top: 10px; }

#show-more .psd {
  background-image: url("../images/background.png");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  animation: 10s linear zoom infinite;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  #show-more .psd h2 {
    color: #5a5a5a;
    font-style: italic;
    font-size: 38px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.95px;
    color: #fff; }
  #show-more .psd hr {
    width: 20%;
    height: 2px;
    border-top: 2px solid #ed145b;
    margin: 25px 0;
    width: 30%; }
  #show-more .psd p {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px;
    padding-bottom: 20px;
    color: #fff; }
  #show-more .psd button {
    border-radius: 25px;
    background-color: #ed145b;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    padding: 5px 50px;
    transition: 0.8s ease-in-out; }
    #show-more .psd button:focus {
      outline: none; }
    #show-more .psd button:hover {
      background-color: transparent;
      border: 1px solid #ed145b;
      color: #ed145b; }

#share .container {
  margin: 0; }
#share .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  #share .row .right-text {
    padding-top: 100px;
    padding-bottom: 100px; }
    #share .row .right-text h2 {
      color: #5a5a5a;
      font-style: italic;
      font-size: 38px;
      font-weight: 400;
      line-height: 52px;
      letter-spacing: 0.95px; }
    #share .row .right-text hr {
      width: 20%;
      height: 2px;
      border-top: 2px solid #ed145b;
      margin: 25px 0;
      width: 30%; }
    #share .row .right-text p {
      color: #5a5a5a;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.38px; }
    #share .row .right-text button {
      border-radius: 25px;
      background-color: #ed145b;
      border: 1px solid transparent;
      font-size: 15px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
      letter-spacing: 0.38px;
      padding: 5px 50px;
      transition: 0.8s ease-in-out; }
      #share .row .right-text button:focus {
        outline: none; }
#share .browser {
  transform: scale(0.9); }

footer {
  background-color: #2b2b2b;
  padding: 50px 0; }
  footer div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  footer .dot {
    color: #ed145b;
    font-weight: 600; }
  footer span {
    font-weight: 600; }

/*# sourceMappingURL=style.prefixed.css.map */